{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <title>EducaPontos</title>
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <img src="{% static 'css/image/educa_pontos-removebg-preview.png' %}">
        </div>
        <div class="list-nav">
            <a href="#projeto">Sobre o Projeto</a>
            <a href="#time">Nosso Time</a>
            <a href="#contato">Contato</a>
        </div>
        <div class="botton">
            <a href="{% url 'cadastro' %}">Login</a>
        </div>
    </div>
    <div class="header">
        <div id="carouselExampleInterval" class="carousel slide carousel-fade"  data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                <img src="{% static 'css/image/header_1.png' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'css/image/header_2.png' %}" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>    
    </div>
    <div class="about">
        <div class="section">
            <div class="text-section" id="projeto">
                <h1>Sobre o Projeto</h1>
                <p>Educa Pontos é uma plataforma web inovadora que visa revolucionar a maneira como os alunos se engajam com de um sistema de gamificação, a plataforma permite que as instituições de ensino atribuam pontos aos alunos por diversas atividades, como tarefas, bom desempenho em provas e engajamento em atividade extracurriculares. Eeses pontos podem ser trocados beneficios e recompensas personalizadas, definidas pela própria instituição, como materiais escolares, ingressos para eventos, descontos em cursos e muito mais.
                </p>
            </div>
            <div class="picture-about">
                <video controls>
                    <source src="{% static 'css/image/Video.mp4'%}" type="video/mp4">
                  Your browser does not support the video tag.
                  </video>
            </div>
        </div>
        <div class="section" id="time">
            <div class="picture-about">
                <img src="{% static 'css/image/time.png'%}" alt="">
            </div>
            <div class="text-section">
                <h1>Nosso Time</h1>
                <p>O time por trás do EducaPonntos é composto por especialistas em educação, tecnologia e gamificação, apaixonados por criar soluções inovadoras para o aprendizado. A equipe multidiciplinar une programadores experintes, designers criativos e educadores visionários, todos dedicados a desenvolver uma plataforma intuitiva e eficaz que motive os alunos a alcançar seu potencial máximo.
                </p>
            </div>
        </div>
    </div>
    <div class="contact" id="contato">
        <div class="contact-form">
            <div class="text-form">
                <h2>Interrassado?</h2>
                <h1>Entre em Contato</h1>
                <p>Descubra como nosso projeto pode ajudar alunos a se esforçarem mais e a sua escola obter sucesso!</p>
            </div>
            <div class="formulario">
                <form action="mailto:seu_email@exemplo.com" method="post">
                    <input type="text" id="nome" name="nome" required placeholder="Digite aqui seu e-mail">
                    <input type="email" id="email" name="email" required placeholder="Digite aqui seu número de Whatsapp">
                    <button type="submit">Enviar</button>
                    <div class="check">
                        <input type="checkbox"></input>
                        <p>Eu autorizo a equipe do EducaPontos entrarem em contato comigo através das informações fornecida acima:</p>
                    </div>
                </form>
            </div>
        </div>
        <div class="contact-img">
            <img src="{% static 'css/image/mocadecarderno.png'%}" alt="">
        </div>
    </div>
    <div class="footer">
        <div class="img-apps">
            <img src="{% static 'css/image/educa_pontos-removebg-preview.png'%}">
            <div class="apps">
                <div class="app">
                    <a href=""><img src="{% static 'css/image/icons8-facebook-90.png'%}" alt="" style="background-color: rgb(40, 74, 244);"></a>
                </div>
                <div class="app">
                    <a href=""><img src="{% static 'css/image/icons8-instagram-96.png'%}" alt="" style="background-color: rgb(208, 11, 202);"></a>
                </div>
                <div class="app">
                    <a href=""><img src="{% static 'css/image/icons8-whatsapp-96.png'%}" alt="" style="background-color: rgb(11, 208, 11);"></a> 
                </div>
                <div class="app">
                    <a href="">  <img src="{% static 'css/image/icons8-youtube-90.png'%}" alt="" style="background-color: rgb(208, 11, 11);"></a> 
                </div>
            </div>
        </div>
        <div class="text-footer">
            <div>
                <h1>Nosso Objetivo</h1>
                <p>Revolucionar o engajamento dos alunos no processo de aprendizagem, por meio de uma plataforma gamificada que recompensa o esforço e a dedicação com benefícios tangíveis, criando uma experiência educacional mais motivadora e eficaz</p>
            </div>
            <div>
                <h1>Nossa Missão</h1>
                <ul>
                    <li>
                        <p>Aumentar o interesse e a participação dos alunos nas atividades escolares.</p>
                    </li>
                    <li>
                        <p>Incentivar o desenvolvimentos de hébitos de estudos positivos.</p>
                    </li>
                    <li>
                        <p>Promover uma cultura de reconhecimento e valorização do esforço individual.</p>
                    </li>
                    <li>
                        <p>Fortalecer a parceria entre instituições de ensino e alunos, criando um amibiente de aprendizagem mais coloborativo e engajador.</p>
                    </li>
                </ul>
            </div>
            <div>
                <h1>Nossos Valores</h1>
                <ul>
                    <li>
                        <p>Inovação;</p>
                    </li>
                    <li>
                        <p>Colaboração;</p>
                    </li>
                    <li>
                        <p>Acessibilidade;</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-footer">
            <div>
                <p>+55 86 99999-9999</p>
            </div>
            <div>
                <p>educapontos@gmail.com</p>
            </div>
            <div>
                <p>
                Rua do Senac, 000,<br>
                Centro - Teresina(Pi)<br>
                64000-00 
                </p>
            </div>
        </div>    
    </div>
    <div class="text-below-footer">
        <div class="line"></div>
        <p>Educa Pontos - 2024 | Todos os direitos reservados</p>
    </div>
</body>
</html>